body{
    background-color: #1c212c;
    width: 100%;
    height: 100%;
}
h1{
    color: white;
    margin: 0 0 20 0;
    padding: 0;
}
.pseudoParent{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;
}
.loginPlate{
    width: 300px;
    height: 350px;
    background: #161822;
    border-radius: 10px;
    text-align: center;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
}
.loginInputs{
    text-align: center;
    display: block;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.loginInputs input[type="text"], .loginInputs input[type = "password"] {
    border:0;
    width: 200px;
    height: 40px;
    background: none;
    margin: 10px;
    text-align: center;
    border: 2px solid #ffb142;
    color: white;
    border-radius: 10px;
    outline: none;
}
.loginInputs input[type="submit"]{
    border:0;
    width: 150px;
    height: 40px;
    background: none;
    margin: 10px;
    text-align: center;
    border: 2px solid #5e49ac;
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.loginInputs input[type="submit"]:hover{
    background: #5e49ac;
}
.loginPlateContent{
    position: absolute;
}